body{
    margin: 0;
    position: absolute;
   
}
.container1{
  border: solid red;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    overflow: hidden;

    
}
.containerCover1{
border: solid pink;
height: 100vh;
width: 100vw;
position: absolute;


}

.firstName{
  
    margin-right: 10%;
    margin-top: 20vh;
    font-size: 8em;
    display: flex;
    justify-content: flex-end;



}
.lastName{

    margin-right: 10%;
    font-size: 8em;
    display: flex;
    justify-content: flex-end;


}
.containerCover2{
    border: solid green;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.about{
    border: solid chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 20%;


}
.projects{
    border: solid chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    margin-left: 25%;
  

}
.random{
    border: solid chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: -3%;
    z-index: 2;


}
.contact{
    border: solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 40%;
    position: relative;
    margin-top: -7%;
    z-index: 2

}


